@charset "UTF-8";

 /*
 TIPICAL DEVICE BREAKPOINT
=================================== 
    Pequenas telas, até 600px.
    Celular: 600px até 768px.
    Tablets: 768px até 992px.
    Desktop: 992px até 1200px.
    Grandes telas: acima de 1200px. 
=====================================
    PALETA DE CORES;
Verde: #49a09d
Lilás: #5f2c82 
 */
/* Configurações gerais para mobile first */
/* Reset CSS */
 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /* Configurações do body e html */
 body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
 }
 /* Configurações do main */
 main{
    height: 100vh;
    width: 100vw;
    position: relative;
 }
 /* Configurações da section login */
 section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 270px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000073;
    
    /* Configurações de animação */
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

 }
 /* Configurações da imagem da section login */
 section#login > div#imagem{
    display: block;
    background: #5f2c82 url('../imagens/pexels-scott-webb-139198.jpg') no-repeat;
    background-position: center bottom;
    height: 200px;
    background-size: cover; 
 }
 /* Configurações da section login formulário */
 section#login > div#formulario{
    display: block;
    padding: 10px;
 }
 div#formulario > h1 {
   text-align: center;
   margin-bottom: 10px;
 }
 div#formulario > p {
   font-size: 0.8em;
 }
 /* Configurações dos campos do formulário */
 form > div.campo {
   display: block;
   background-color: #5f2c82;
   border: 1.5px solid #49a09d;
   width: 100%;
   height: 40px;
   border-radius: 8px;
   margin: 5px 0px;
 }
 div.campo > label {
   display: none;
 }
 /* Configurações dos ícones do campo dos formulários _ eu coloquei*/
 div.campo > span {
   color: #71dad6;
   font-size: 2em;
   width: 40px;
   padding: 5px;
 }
 div.campo > span:hover {
   color: #fff;
 }
 /* Configurações dos input e-mail e senha */
div.campo > input {
   background-color: #71dad6;
   font-size: 1em;
   height: 100%;
   border-radius: 8px;
   width: calc(100% - 45px);
   padding: 6px;
   transform: translateY(-13px);  /*Sempre que tiver uma transformação/ animação para fzaer, colocar na última linha do código*/
}
div.campo >input:focus-within {
   background-color: #fff;
}
 /* Configurações do botão enviar*/
 form > input[type=submit] {
   display: block;
   font-size: 1em;
   color: #fff;
   width: 100%;
   height: 40px;
   background-color:  #49a09d;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 form > input[type=submit]:hover{
   background-color: #37817f;
 }
/* Configurações do botão esqueci a senha*/
form > a.botao {
   display: block;
   text-align: center;
   font-size: 1em;
   color: #37817f;
   width: 100%;
   height: 40px;
   padding-top: 5px;
   margin-top: 5px;
   background-color: #fff;
   border: 1px solid #37817f;
   border-radius: 5px;
   text-decoration: none;
}
form > a.botao:hover {
   background-color: #37817f;
   color: #fff;
}
/* Configurações do ícone do botão enviar*/
form > a.botao > span {
   font-size: 0.9em;
}







